<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <menuitem id="menu_configuration_root"
              name="Configuration"
              sequence="30"
              groups="kio_isp_management.group_isp_configuration_access"/>

    <menuitem id="menu_account_management"
              name="Account Management"
              action="account.action_move_out_invoice_type"
              sequence="6"
              groups="kio_isp_management.group_isp_accounts_access"/>


    <menuitem id="menu_transmission_root"
              name="Transmission Management"
              sequence="5"
              groups="kio_isp_management.group_isp_transmission_access"/>


</odoo>
